body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(94, 101, 107);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}
.note-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.note.new {
  background-color: #67d7cc;
}
textarea {
  border: none;
  resize: none;
  background-color: #67d7cc;
}
textarea:focus {
  outline: none;
}
.save {
  background-color: e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}
.save:hover {
  background-color: #ededed;
  cursor: pointer;
}
.toggle {
  background-color: e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 8px 15px 8px 15px;
}
.toggle:hover{
  background-color: #ededed;
  cursor: pointer;
}
.dark-mode{
  background-color: black;
;
}
.dark-mode h1{
  color: white;
}
.note {
  background-color: #fef68a;
  margin-bottom: 10px;
  border-radius: 10px;
  min-height: 170px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}
.note-Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delete-icons{
  cursor: pointer;
}
.Search{
  display: flex;
  align-items: center;
  background-color: rgb(233,233,233);
  border-radius: 10px;
  margin-bottom: 1.5rem;
  padding: 10px;
 
}
.Search input{
  border: none;
  background-color: rgb(233,233,233);
 
}
.Search input:focus{
  outline: none;
}